@import url('https://fonts.googleapis.com/css?family=Lato:400,500');
#contactForm {
    display: block;
    width: 100%;
    border: 1px solid #1e3d5b;
    padding: 15px;
    margin: auto;
    background-color: #f3f3f3;
    min-heigth: 500px;
}
#contactResult {
    display: none;
    min-heigth: 500px;
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#contactSending {
    display: none;
    min-heigth: 500px;
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#contactLegend {
    text-align: left;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-size: 1.125em;
}
.contactPair {
    margin: 10px 0px 10px 0px;
    width: 100%;
    overflow: auto;
}
.contactData {
    float: left;
    width: 100%;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#contactSection {
    display: block;
    overflow: auto;
    clear: both;
    width: 100%;
    padding: 5px;
    margin: 25px 0px;
    background-color: #f6f6f6;
}
.halfSection {
    width: 50%;
    float: left;
    padding: 5px 15px 5px 15px;
    margin: 5px 0px;
    height: 100%;
    min-height: 100%;
}
.specLabel {
    float: left;
    width: 24%;
    padding: 6px 0px 6px 0px;
}
.specData {
    float: left;
    width: 74%;
    padding: 6px 0px 6px 0px;
}
#charCount {
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#serviceNotice {
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#signinNotice {
    font-size: 0.875em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
.callNowButton {
    display: block;
    color: #ffffff;
    background-color: #ff2f2f;
    font-size: 1.25em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.callNowButton:hover {
    display: block;
    color: #ffffff;
    background-color: #cc0000;
    font-size: 1.25em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.phoneButton {
    display: block;
    color: #ffffff;
    background-color: #1E3D5B;
    font-size: 1.25em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.phoneButton:hover {
    display: block;
    color: #ffffff;
    background-color: #2d5986;
    font-size: 1.25em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
A.phoneReveal:link {
    color: #ffffff;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}
A.phoneReveal:hover {
    color: #ffffff;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.emailButton {
    display: block;
    color: #ffffff;
    background-color: #1E3D5B;
    font-size: 1.125em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.emailButton:hover {
    display: block;
    color: #ffffff;
    background-color: #2d5986;
    font-size: 1.125em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
A.emailReveal:link {
    color: #ffffff;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}
A.emailReveal:hover {
    color: #ffffff;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.pcl {
    width: 100%;
    padding: 0px;
}
.pclLine {
    width: 100%;
}
.pclLabel {
    width: 30%;
    padding: 6px 0px 6px 0px;
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
.pclData {
    width: 70%;
    padding: 6px 0px 6px 0px;
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
.pclPrice {
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#nativePrice {
    font-size: 1.25em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#conversionPrice {
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#fxConversion {
    font-size: 1.125em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
}
#inlineRelatedServices {
    display: block;
    overflow: auto;
    clear: both;
    width: 100%;
    padding: 15px 0px 15px 0px;
    margin: 25px 0px 25px 0px;
}
.inlineService {
    display: inline;
    color: #ffffff;
    background-color: #3872A4;
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 125px;
    margin: 10px 15px 10px 0px;
    text-align: center;
}
.inlineService:hover {
    display: inline;
    color: #ffffff;
    background-color: #ff2f2f;
    font-size: 1em;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: normal;
    padding: 7px;
    width: 125px;
    margin: 10px 15px 10px 0px;
    text-align: center;
}
.boatAdvertTitle {
    display: inline;
    float: left;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-size: 1.625em;
    color: #424242;
    text-align: left;
    padding: 5px;
}
.boatAdvertPrice {
    display: inline;
    float: right;
    text-align: right;
    font-family: Lato, Helvetica, arial, sans-serif;
    font-size: 1.625em;
    color: #424242;
    padding: 5px;
}

